.city__content{
    display: grid;
  gap: 40px;
  grid-template-areas: 
  "title artists" 
  "img texts"
  "button texts"
  "span texts";
  padding-top: 92px;
   
    
}

.city{
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.city__title{
    grid-area: title;
    font-size: 72px;
    max-width: 460px;
}
.city__artists-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: artists;
}
.city__img{
    grid-area: img;
    max-width: 460px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.50);
}
.city__article{
    grid-area: texts;
    line-height: 1.05;
    
}
.city__art{
    font-size: 18px;
    display: block;
    font-weight: 900;
    
}
.city__subtitle{
    color: rgba(170, 170, 170, 1);
    font-size: 12px;

}

.city__paragraph{
    margin-top: 25px;
    line-height: 1.63;
    max-width: 484px;
}



.city__gales-content{
    
    padding-top: 140px;
    max-width: 484px;
    line-height: 1.5;
}


.city__btn-link{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    background-image: linear-gradient(to right, #0278FE, #003A7B);
    grid-area: button;
    padding: 13px 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
 }
 



@media screen and (max-width: 768px) {
    
    .city__title{
        font-size: 42px;
        max-width: 340px;
    }
    .city__article{
        padding-top: 15px;
    }
    .city__img{
        
        max-width: 332px;
    }
    .city__btn-link{
        font-size: 16px;
        grid-row-gap: 46px;
      }
    
}
@media screen and (max-width: 470px) {
    /*  fazer o grid area igual la em cima mas um embaixo do outro
     */
     
     .city__content{
        grid-template-areas: 
         "title " 
         "artists"
         "img"
         "texts";
         padding-top: 62px;
        }
        .city__title{
            font-size: 32px;
        }
      
   
    
    
    

}