.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-top: 118px;
    margin: 0 auto;
}

.gallery__image {
    width: 100%;
    max-width: 284px;
    max-height: 213px;
}

@media screen and (max-width: 770px) {
    .gallery {
        display: block;
        text-align: center;
    }
    
}

